<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209818240247-t00vn3pldgga6mr29j3f6l6j419a55v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209818240247-t00vn3pldgga6mr29j3f6l6j419a55v1</string>
	<key>API_KEY</key>
	<string>AIzaSyAVjllfqHyKcy0wJVyxDi4_PkwUIcjIbCw</string>
	<key>GCM_SENDER_ID</key>
	<string>209818240247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CMCGlobal.com.Capstone</string>
	<key>PROJECT_ID</key>
	<string>interviewhelper-89d31</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewhelper-89d31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209818240247:ios:c1fd51c2bff5487037bff2</string>
</dict>
</plist>
